@model IEnumerable<RegistroAlumnos.Models.Curso>

<h1>Listado de Cursos</h1>

<a asp-action="Create" class="btn btn-primary mb-3">
    Nuevo Curso
</a>

@if (Model == null)
{
    <p>El modelo llegó null (error de carga).</p>
}
else if (!Model.Any())
{
    <p>No hay cursos registrados.</p>
}
else
{
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th style="width: 300px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var curso in Model)
        {
             <tr>
                <td>@curso.Nombre</td>
                <td>@curso.Descripcion</td>
                <td>
           
           
                <div class="d-flex gap-2">
                    <a asp-action="Edit"
                       asp-route-id="@curso.Id"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@curso.Id"
                       class="btn btn-danger btn-sm">
                        Eliminar
                    </a>

                    <a asp-action="Details"
                       asp-route-id="@curso.Id"
                       class="btn btn-info btn-sm">
                       Ver alumnos
                    </a>

                </div>
            </td>
        </tr>
}
    </tbody>
</table>
}        
           
           
           

